<modal #modal>
  <modal-header [show-close]="true">
      <h4 class="modal-title">Code barman - Merci de rendre la tablette</h4>
  </modal-header>
  <modal-body>
    <table class="table table-striped">
      <thead>
        <tr><th>Champs</th><th>Valeurs</th></tr>
      </thead>
      <tbody>
        <tr><td>Nom</td><td>{{adherent.nom}}</td></tr>
        <tr><td>Prénom</td><td>{{adherent.prenom}}</td></tr>
        <tr><td>Date de naissance</td><td>{{adherent.dateNaissance}}</td></tr>
        <tr><td>Ecole</td><td>{{adherent.ecole}}</td></tr>
      </tbody>
    </table>
    <div class="text-center">
      <form #codeForm="ngForm">
        <div class="form-group">
          <label>Code barman:</label>
          <input autofocus type="tel" class="form-control"
                required name="code" [(ngModel)]="userCode" #code="ngModel" autocomplete="off">
          <div *ngIf="code.errors && (code.dirty || code.touched)" class="text-danger" style="margin-top:5px">
            <div [hidden]="!code.errors.required">
                Le code est requis.
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="modal.close()" (click)="add()" [disabled]="!codeForm.form.valid">Ajouter</button>
      </form>
    </div>
  </modal-body>
  <modal-footer [show-default-buttons]="false"></modal-footer>
</modal>
<div class="row">
  <div class="col-sm-offset-3 col-sm-6 text-center" style="margin-top: 20px">
    <form #adherentForm="ngForm">
      <div class="form-group">
        <label>Nom:</label>
        <input type="text" class="form-control" placeholder="Nom"
               required name="nom" [(ngModel)]="adherent.nom"
               #nom="ngModel" autocomplete="off">
        <div *ngIf="nom.errors && (nom.dirty || nom.touched)" class="text-danger" style="margin-top:5px">
          <div [hidden]="!nom.errors.required">
              Le nom est requis.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Prénom:</label>
        <input type="text" class="form-control" placeholder="Prénom"
               required name="prenom" [(ngModel)]="adherent.prenom"
               #prenom="ngModel" autocomplete="off">
        <div *ngIf="prenom.errors && (prenom.dirty || prenom.touched)" class="text-danger" style="margin-top:5px">
          <div [hidden]="!prenom.errors.required">
              Le prénom est requis.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Date de naissance:</label>
        <input type="date" class="form-control"
               required name="date" [(ngModel)]="adherent.dateNaissance"
               #date="ngModel" autocomplete="off">
        <div *ngIf="date.errors && (date.dirty || date.touched)" class="text-danger" style="margin-top:5px">
          <div [hidden]="!date.errors.required">
              La date de naissance est requise.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Ecole:</label>
        <input type="text" class="form-control"
               required name="ecole" [(ngModel)]="adherent.ecole"
               #ecole="ngModel" autocomplete="off">
        <div *ngIf="ecole.errors && (ecole.dirty || ecole.touched)" class="text-danger" style="margin-top:5px">
          <div [hidden]="!ecole.errors.required">
              L'école est requise.
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" (click)="modal.open()" [disabled]="!adherentForm.form.valid">Ajouter</button>
    </form>
  </div>
</div>
